@import '../../../lib/styles';

.work-table-title-container {
    display: flex;
    min-width: 250px;

    svg {
        min-width: 32px;
        margin-right: $pad-lg;
    }
    .title {
        @extend .medium-subtitle;
        @include font-black-100;
    }
    
    .description {
        @extend .ultra-small;
        margin-top: 6px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

