@import '../../../../lib/styles';

.wrap {
    min-width: 323px;
    padding-left: $pad-xxxxl;
  
    border-left: $border-xs solid $black-10;
    margin-left: $pad-xxxxl;
    color: $black-100;
}

.link {
    display: block;
    @include font-roboto;
    @include font-weight-bold;
    font-size: 14px;
    line-height: 14px;
    color: $turq-160;
    margin-top: $pad-lg;
    cursor: pointer;
    text-transform: uppercase;
}
