@import "styles/mixins";

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 16px;
}

.heading {
  flex: 0 0 auto;
  @include font-barlow;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #2a2a2a;
}

.button {
  flex: 0 0 auto;
}
