@import "styles/include";

.details {
  display: flex;
  padding-bottom: 32px;

  .reviewTable {
    flex-grow: 2;
    :global(.table-bottom-divider) {
      display: none;
    }
  }

  .invoiceWrapper {
    min-width: 323px;
    padding-left: 32px;

    border-left: 1px solid #E9E9E9;
    margin-left: 32px;
    
    h3 {
      @include font-barlow;
      font-size: 18px;
      line-height: 22px;
      text-transform: uppercase;
      color: $black-100;
    }
    
    .link {
      @include font-roboto;
      display: block;
      font-weight: 700;
      font-size: 14px;
      line-height: 14px;
      color: $green1;
      margin-top: 16px;
      cursor: pointer;
      text-transform: uppercase;
    }
  }
}
