@import "styles/include";

.solutions {
  min-height: 415px;
}

.header {
  color: $black-100;
  margin-bottom: 16px;
  p {
    @include font-roboto;
    font-size: 14px;
    line-height: 22px;
    margin: 8px 0 0;
  }
}

.title {
  @include font-barlow;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;

  display: flex;
  align-items: center;
  text-transform: uppercase;

  .help-icon {
    display: inline-block;
    margin-left: 0.375em;
    margin-bottom: -1px;
    line-height: 0;
    vertical-align: baseline;
  }
}

.markAsDoneBtn {
  margin: 16px 0 0 auto;
}

.download-all-solutions-btn {
  @include font-roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 0;
  color: $link-blue-dark;

  margin-left: auto;

  &:hover,
  &:visited {
    color: $link-blue-dark;
  }
}
