@import "styles/include";

.solutions {
  min-height: 415px;
}

.title {
  @include font-barlow;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: $black;

  margin-bottom: 14px;

  .help-icon {
    display: inline-block;
    margin-left: 0.375em;
    margin-bottom: -1px;
    line-height: 0;
    vertical-align: baseline;
  }
}

.markAsDoneBtn {
  margin: 16px 0 0 auto;
}
