@import "styles/include";

.track {
  position: relative;
  flex: 1 1 auto;
  height: 8px;

  border-radius: 4px;

  &.isFirst {
    max-width: 0;

    :global(.point) {
      margin-left: calc(50% - 1px);
    }
  }

  &.isLast {
    :global(.point) {
      margin-right: calc(50% - 1px);
    }
  }

  &.completed,
  &.active {
    background-color: $purple-100;
  }
}

.container {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -15px);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
