@import '../../../../lib/styles';

.list-wrap {
    counter-reset: solutionListItem;
}
  

.solutions-not-available {
    @extend .large-subtitle;
    @include font-barlow;
    color: $black-100;
    
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 507px;
    padding: $pad-lg;
    text-align: center;
    background-color: $black-5;
    border-radius: $pad-sm;
}
