@import "styles/include";

.form-input-textarea {
  background-color: #ffffff !important;
  box-sizing: border-box !important;
  color: #444 !important;
  font-size: 16px !important;
  outline: none !important;
  border: 0 !important;
  padding: 0 15px !important;
  width: 100% !important;
  height: 70px;
  resize: none;
  &::placeholder {
    color: #aaaaaa !important;
    font-size: 18px !important;
    text-transform: none !important;
    font-weight: 400;
  }
  &:focus {
    box-shadow: none !important;
  }
}
