@import "styles/include";

.final-servey {
  @include font-roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: $grey-text;

  position: relative;
  padding: 28px 32px 32px;
  max-width: 794px;
  background-color: $tc-white;
  border-radius: 8px;
  box-shadow: 0 4px 4px rgba($black, .25);

  .header { margin-bottom: 24px; }
  .question-list { margin-bottom: 20px; }
  .textarea-container { margin-bottom: 40px; }
}

.header {
  padding-right: 24px;

  .title {
    @include font-barlow-condensed;
    font-weight: 500;
    font-size: 34px;
    line-height: 32px;

    margin-bottom: 8px;
  }

  .subtitle {}
}

.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  margin: 32px 32px 0 0;
  border: 0;

  svg {
    position: static;
    width: 16px;
    height: 16px;
  }
}

.divider {
  height: 2px;
  margin: 24px 0;
  background-color: $divider-color;
  border: 0;
  border-radius: 1px;
}

.question-list {
  li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;

    span {
      margin-right: 16px;
    }
  }
}

.textarea-container {
  border: 1px solid $gui-kit-gray-30;
  border-radius: 4px;

  .textarea {
    display: block;
    height: auto;
    padding: 8px 10px !important;
    margin: 0;
  }
}

.markAsDone-btn {
  margin-left: auto;
}
