@import "styles/include";

.container {

  svg {
    margin-right: 16px;
  }

  .inline {
    display: flex;
    flex-direction: row;
  }
  @include mobile {
    display: flex;
    flex-direction: row;
  }
}

.filler {
  display: flex;
  @include mobile {
    flex: 1;
  }
}

.serviceTitle {
  margin-top: 16px;
  @include font-barlow;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
}

.priceAndDuration {
  @include font-barlow;
  margin-top: 8px;
  font-size: 20px;
  line-height: 20px;
  color: $black;
  display: flex;

  .discount {
    color: $discount-green;
  }

  .stickerPrice {
    color: $gray-80;
    text-decoration: line-through;
    margin-right: 4px;
  }

  .separator {
    width: 2px;
    height: 20px;
    background: #D4D4D4;
    border-radius: 1px;
    margin: 0px 16px;
  }

  svg {
    margin-left: 9px;
  }
}
