@import '../../../../lib/styles/includes';
@import '../../../../lib/styles/typography';

$icon-size: calc($pad-xxl * 2);

.highlights-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-bottom: $pad-xxl;

    .highlight {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        margin-right: calc($border-xs * -1);
        padding: $pad-lg;
        border-left: $border-xs solid $black-10;
        border-right: $border-xs solid $black-10;

        .icon {
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                height: $icon-size;
                width: $icon-size;
                stroke: $teal-120;
            }
        }

        h4 {
            border: none;
            padding: $pad-xl 0 0 0;
        }

        .info {
            @extend .body-large-medium;
            color: $black-100;
        }
    }
}
