@import "styles/include";

.button {
  @include font-roboto;
  background: transparent;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  white-space: nowrap;

  &[disabled] {
    cursor: default;
  }

  svg {
    fill: white;
  }
}

.size-large {
  border-radius: 25px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 46px;
  height: 48px;
  padding: 18px 30px;
  text-transform: uppercase;
}

.size-medium {
  border-radius: 20px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 38px;
  height: 40px;
  padding: 0 19px;
  text-transform: uppercase;
}

.size-small {
  border-radius: 15px;
  font-size: 12px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.8px;
  height: 30px;
  padding: 0 14px;
  text-transform: uppercase;
}

.size-tiny {
  border-radius: 12px;
  padding: 6px 15px;
  height: 24px;
  font-size: 10px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.type-primary {
  border: 2px solid $green1;
  background-color: $green1;
  color: #fff;
}

.type-warning {
  border: 2px solid #ef476f;
  background-color: #ef476f;
  color: #fff;
}

.type-secondary {
  background-color: #fff;
  border: 2px solid $green1;
  color: #229174;
}

.type-secondary[disabled] {
  border-color: #b5b5b5;
  color: #b5b5b5;
}

.type-rounded {
  position: relative;
  width: 22px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid $green1;
  color: #229174;

  svg {
    position: absolute;
    left: 37%;
  }
}

.type-rounded[disabled] {
  border-radius: 50%;
  border-color: #b5b5b5;
  color: #b5b5b5;
}

.type-primary[disabled],
.type-warning[disabled] {
  background-color: #b5b5b5;
  border-color: #b5b5b5;
}
