@import "styles/include";

.tabs {
  @include font-barlow;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: $gray-80;

  margin-bottom: 32px;
  background-color: $blue2;
  border-radius: 4px;
  white-space: nowrap;
}

.tab-container {
  display: flex;
  align-items: center;
  overflow-x: auto;
}
