@import '../../../../../lib/styles/includes';

.container {

    ol {
        padding: 0;
    }

    h4 {
        margin-top: 20px;
    }

    p {
        margin-bottom: 20px;

        &.sm {
            font-size: 14px;
        }
    }
}

.topCoderLink {
    text-decoration: underline;
    color: $link-blue-light;
}
