@import '../../../../../lib/styles';

$overlaySquare: calc($pad-xxxxl + 2 * $border);

.profile-avatar,
.overlay {
    cursor: pointer;
}

.overlay {
    position: absolute;
    z-index: 100;
    background: $black-100-opacity-80;
    display: flex;
    justify-content: center;
    align-items: center;
    height: $overlaySquare;
    width: $overlaySquare;
    margin-top: calc($overlaySquare * -1);
    border-radius: 50%;

    svg {
        stroke: $turq-160;
        stroke-width: $border;
        @include icon-xxl;
    }
}