@import "styles/include";

.page {
  padding-bottom: 0;
}

.pageContent {
  padding: 25px 23px 32px 25px;
}

.pageTitle {
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 0 0 16px 0;
}

.message-count {
  @include font-roboto;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  color: $tc-white;

  display: inline-block;
  min-width: 22px;
  padding: 5px;
  margin: -5px 0 -2px 4px;
  text-align: center;
  vertical-align: middle;
  background-color: $pastel-red;
  border-radius: 11px;
}

.markAsDoneBtn {
  margin: 16px 0 0 auto;
}
