@import "styles/include";

.page {
  padding-bottom: 0;
}

.pageContent {
  padding: 0;
  margin: 0;
}

.pageTitle {
  @include font-barlow;
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
  color: $gui-kit-gray-90;

  display: flex;
  align-items: center;
  gap: 16px;
  margin: 0 0 16px 0;
}

.message-count {
  @include font-roboto;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  color: $tc-white;

  display: inline-block;
  min-width: 22px;
  padding: 5px;
  margin: -5px 0 -2px 4px;
  text-align: center;
  vertical-align: middle;
  background-color: $pastel-red;
  border-radius: 11px;
}

.markAsDoneBtn {
  margin: 16px 0 0 auto;
}

.tabs-contents {
  margin-top: 34px;
}

.status-line {
  display: flex;
  align-items: center;
  gap: 24px;

  margin-top: -8px;
  margin-bottom: 24px;
}

.status-label {
  @include font-roboto;
  color: $black-60;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}
