@use '../../../../../lib/styles/typography';
@import '../../../../../lib/styles/includes';

.wrap {
    background: $tc-white;
    padding: $pad-lg $pad-xxl;
    border-radius: $pad-sm;

    display: flex;

    &.large {
        padding: $pad-xxxxl;
    }
}

.inner {
    flex: 1 1 0;
}

.line {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: $pad-lg;
}

.status {
    @extend .body-main-bold;
    color: $blue-140;

    &:before {
        content: "";
        display: inline-block;
        margin: 2px $pad-sm -2px;
        width: 1px;
        height: 16px;
        background: $black-60;
    }
}

.summary {
    display: flex;
    align-items: center;
    margin-top: $pad-lg;
}

.button {
    margin-left: auto;
}

.details {
    display: flex;
    align-items: flex-start;
    flex: 1 1 0;
    &:before {
        content: "";
        display: block;
        height: 100%;
        width: 1px;
        background: $black-10;
        margin: 0 calc($pad-mx + $pad-sm);
    }

    &-inner {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: $pad-sm;

        p {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }

        button {
            margin-top: $pad-sm;
        }
    }
}

.started-date {
    font-weight: bold;
}