@use '../../../../lib/styles/typography';
@import '../../../../lib/styles/includes';

.summary {
    display: flex;
    gap: $pad-lg;
    align-items: center;
}

.icon {
    color: $black-60;
    svg {
        width: 26px;
        height: 26px;
    }
}

.count {
    color: $blue-140;
    font-size: 48px;
    line-height: 40px;
    @include font-weight-medium;
}

.count-label {
    @extend .body-main;
    color: $black-100;
}

.stat-item {
    display: flex;
    gap: $pad-xs;
    align-items: center;
    > :global(.sub) {
        display: flex;
        gap: $pad-xs;
        align-items: flex-end;
    }
}
