@import "styles/include";

.container {
  display: flex;
  justify-content: center;
  text-align: center;

  .content {
    color: $black;
    font-size: 16px;
    line-height: 26px;

    .loginTitle {
      font-weight: bold;
    }
  }

  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 76px;
    font-size: 14px;
    line-height: 14px;

    .separator {
      margin-left: 16px;
      margin-right: 16px;
    }
  }
  .footerContent {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;

    .backButtonWrapper {
      @include backButtonWrapper;
    }
  }
}