@import "../../../../../lib/styles/includes";

$dot-size: calc($pad-lg + $pad-xxl);

.progress-bar-list-item {
    position: relative;
    width: 25%;

    &:last-child {
        width: auto;
    }

    .label {
        display: block;
        margin-top: $pad-sm;
        margin-left: calc(-1 * calc($dot-size + 3px));
        width: calc(4 * $pad-xxxxl);
        text-align: center;
        color: $black-60;

        span {
            display: block;
        }

        .date {
            display: block;
            margin-top: $pad-xs;
        }
    }

    .dots {
        display: flex;
        align-items: center;
        justify-content: center;
        width: $dot-size;
        height: $dot-size;
        margin-bottom: $pad-sm;
        @extend .bg-black-10;
        border: $pad-xs solid $black-20;
        border-radius: 50%;
        box-sizing: border-box;
        color: $black-60;
    }

    &:not(:last-child):after {
        content: '';
        display: block;
        position: absolute;
        top: $pad-lg;
        left: $dot-size;
        width: 100%;
        height: $pad-sm;
        @extend .bg-black-20;
    }

    &.active {

        .dots {
            color: $tc-white;
            @extend .bg-purple-100;
            border-color: $purple-100;
        }

        .label {
            color: $black-100;
        }

        &:after {
            @extend .bg-purple-100;
        }
    }

    &.select {

        .dots {
            color: $purple-100;
            border-color: $purple-100;
            @extend .bg-tc-white;
        }

        .label {
            color: $black-100;

            .name {
                color: $purple-100;
            }
        }
    }
}
