@import '../../../lib/styles';

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: $pad-xxl;
    margin: $pad-xxl 0 0;

    @include ltemd {
        grid-template-columns: 1fr;
        row-gap: $pad-xxl;
    }
}
