@import "styles/include";

.heroContainer {
  position: static;
  min-width: 610px;
  left: 0px;
  top: 0px;
  margin: 16px 0px;
  
  display: grid;
  grid-template-columns: 1fr 359px;
  
  &.website-design {
    background: linear-gradient(263.22deg, #038664 2.65%, #075F96 98.14%), #FFFFFF;
  }
  &.data-exploration {
    background: linear-gradient(263.22deg, #038664 2.65%, #075F96 98.14%), #FFFFFF;
  }
  &.find-me-data {
    background: linear-gradient(84.92deg, #723390 2.08%, #8C384F 97.43%);
  }

  border-radius: 8px;
  margin-bottom: -35px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;


  @include mobile {
    min-width: 0;
    max-width: 100%;
    overflow: hidden;
    grid-template-columns: 1fr 200px;
  }

  .heroBackgroundContainer {
    position: static;
    width: 359px;
    left: 793px;
    top: 0px;
    margin: 0px;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

    border-radius: 0 8px 8px 0;

    @include mobile {
      width: 200px;
    }

    &.data-exploration {
      background: url("../../../assets/images/data-exploration.png");
      background-size: cover;
    }
    &.find-me-data {
      background: url("../../../assets/images/find-me-data.png");
      background-size: cover;
    }
  }

  .heroContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px 0px;

    color: $black-0;

    position: static;
    left: 32px;
    top: 0px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;
    margin: 0px 24px;

    .heroHeader {
      /* Auto layout */
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 0px;

      position: static;
      left: 0px;
      top: 0px;

      /* Inside auto layout */
      flex: none;
      order: 0;
      align-self: stretch;
      flex-grow: 0;

      .heroIconContainer {
        /* Auto layout */
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin-right: 16px;
        
        position: static;
        width: 40px;
        left: 0px;
        top: 0px;
      }

      .heroHeaderContent {
        /* Auto layout */
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 8px;
        padding: 0px;

        position: static;
        left: 56px;
        top: 0px;

        /* Inside auto layout */
        flex: none;
        order: 1;
        flex-grow: 1;

        font-size: 42px;
        font-weight: 400;

        @include mobile {
          flex: auto;
        }

        .heroHeaderTitle {
          display: flex;
          text-transform: uppercase;
        }

        .heroHeaderSubtitle {
          font-size: 17px;
          max-width: 713px;
          line-height: 24px;
          font-weight: 500;
        }
      }
    }

    .heroText {
      position: static;
      // height: 96px;
      left: 0px;
      top: 64px;
      max-width: 713px;

      /* desktop/body-large */
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 32px;
      /* or 133% */

      /* gray/white */
      color: #FFFFFF;

      /* Inside auto layout */
      order: 1;
      margin: 16px 0px;
      flex: none;
      align-self: stretch;
      flex-grow: 0;
    }
  }
}

.cardContainer {
  display: flex;
  column-gap: 8px;
  justify-content: space-around;

  @include mobile {
    flex-direction: column;
    justify-content: start;
    align-items: center;
    row-gap: 8px;
  }

  .card {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    row-gap: 8px;
    padding: 32px;

    position: static;
    min-width: 500px;
    max-width: 568px;
    height: 172px;

    /* gray/white */
    background: $black-0;
    /* Button hover shadow */
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    border-radius: 8px;

    .title {
      font-size: 24px;
    }

    .text {
      font-size: 16px;
      line-height: 28px;
      text-align: center;
    }
  }
}
