@import '../../../../../../lib/styles';

.profile-panel {
    @extend .body-small;
    position: absolute;
    z-index: 1000;
    top: calc($pad-xxxxl * 2);
    right: calc($pad-sm + 2px);
    width: 168px;
    display: flex;
    flex-direction: column;
    background: url('./profile-panel-header.png') no-repeat top center;
    filter: drop-shadow(0px 1px 5px rgba(0, 0, 0, 0.2));

    .handle {
        padding: $pad-xl $pad-xl calc($pad-lg - 1px) $pad-xl;
        color: $tc-white;
    }

    .logout,
    .profile {
        display: block;
        padding: $pad-xs $pad-xl;
        background-color: $tc-white;
        color: $black-100;
        cursor: pointer;
    }

    .logout {
        padding-bottom: $pad-sm;
        border-radius: 0px 0px $pad-sm $pad-sm;
    }
}
