@import "styles/include";

.container {
  line-height: 20px;

  ul.a {
    list-style-type: circle;
    list-style: circle;
  
    li {
      padding-left: 0;
      margin-left: 20px;
    }
  }
  
  a {
    text-decoration: underline;
    color: $link-blue;
  }
}
