@import "../../../../../src-ts/lib/styles";
@import "styles/include";

.footerContent {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;

  @include ltemd {
    flex-direction: row;
    gap: 16px;
  }

  .footer-right {
    display: flex;
    gap: 16px;

    .rotated {
      transform: rotate(-90deg);
      display: none;
    }

    .save-icon {
      display: none;
    }

    button {
      svg {
        display: none;
        @include gtelg {
          display: inline-block;
        }
      }

      &.saveForLater {
        span {
          @include ltemd {
            display: none;
          }
        }
        svg {
          @include gtelg {
            display: none;
          }
        }
      }

      &.reviewAndSubmit{
        svg {
          @include gtelg {
            display: none;
          }
        }
        svg {
          @include ltemd {
            display: none;
          }
        }

        .desktop{
          @include ltemd {
            display: none;
          }
        }
      }
    }
  }
}

.container {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.backButtonWrapper {
  @include backButtonWrapper;
}

@include mobile {

  button {
    svg {
      display: block !important;
      @include gtelg {
        display: inline-block !important;
      }
    }
  }

  .save-button-text {
    display: none;
  }

  .review-button-text {
    display: none;
  }
}
