@import "styles/include";

.helpBanner {
  display: flex;

  @include mobile {
    flex-direction: column;
  }

  .sampleImages {
    display: flex;
    padding-right: 218px;
    margin-top: -30px;

    @include mobile {
      margin-top: 0px;
      flex-direction: column;
      align-items: center;
      padding-right: 0px;
    }

  
    .imgBanner {
      margin-right: 16px;
      margin-left: 16px;

      @include mobile {
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
