// reusable mixins

@mixin font-roboto {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

@mixin font-barlow-condensed {
  font-family: "Barlow Condensed", Arial, Helvetica, sans-serif;
}

@mixin font-barlow {
  font-family: "Barlow", Arial, Helvetica, sans-serif;
}

@mixin mobile {
  @media (max-width: 1199px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin confirmationBox {
  background: $orange-25;
  border-radius: 8px;
  margin: 16px 0;
  line-height: 26px;
  padding: 16px;
  font-size: 16px
}
