$green1: #137d60;
$blue1: #2f757e;
$blue2: #eaf6fd;
$grey-bg: #f4f4f4;
$teal: #227681;
$grey-text: #2a2a2a;
$black: #000000;
$divider-color: #e9e9e9;
$orange-25: #fff0ce;
$red-120: #be405e;
$purple-100: #9d41c9;
$gray-10: #e9e9e9;
$gray-80: #555555;
$gui-kit-level-2: #0ab88a;
$gui-kit-level-5: #ef476f;
$gui-kit-gray-90: #2a2a2a;
$tc-white: #fff;
$gui-kit-gray-30: #aaa;
$link-blue: #2e55b9;
$green2: #06d6a0;

$error-color: $gui-kit-level-5;
$success-color: $gui-kit-level-2;
