$green1: #137d60;
$blue1: #2f757e;
$blue2: #eaf6fd;
$grey-bg: #f4f4f4;
$teal: #227681;
$grey-text: #2a2a2a;
$black: #000000;
$black-20: #D4D4D4;
$divider-color: #e9e9e9;
$orange-25: #fff0ce;
$red-120: #be405e;
$purple-100: #9d41c9;
$gray-10: #e9e9e9;
$gray-80: #555555;
$gui-kit-level-2: #0ab88a;
$gui-kit-level-5: #ef476f;
$gui-kit-gray-90: #2a2a2a;
$tc-white: #fff;
$gui-kit-gray-30: #aaa;
$link-blue: #2e55b9;
$green2: #06d6a0;
$aqua: #1E94A3;
$black-100: #2A2A2A;
$black-60: #767676;
$white: #fff;
$gray-70: #e5e5e5;
$black-100: #2A2A2A;
$black-20: #D4D4D4;

$error-color: $gui-kit-level-5;
$success-color: $gui-kit-level-2;
$red: #e90c5a;
$tips-background: #fafafb;
$tips-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.2);
$tc-gray-90: #2a2a2b;
$tc-green: #60c700;
$pastel-red: $red;
$pastel-turq: #12c188;
$black-0: #ffffff;
$black-40: #aaaaaa;
$gold-1: #ffd84d;
$pastel-purple: #6569ff;
$link-blue-dark: #0d61bf;
$discount-green: #35AC35;
$turqoise: #E0FAF3;
$orange-100: #FFC43D;
