// This file should contain global styles for the microapp

@import "styles/include";
@import "reset";

.topcoder-mfe-customer-work {
  @include font-barlow;
  color: #555;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  flex: 1 1 auto;
}

:global {
  #single-spa-main {
    margin: 0 auto;
    height: 100vh;

    display: flex;
    > * {
      width: 100%;
      display: flex;
      flex-direction: column;
    }
  }
}

body {
  background-color: $tc-white;
}
