// This file should contain global styles for the microapp

@import "styles/include";

.topcoder-micro-frontends-self-service-app {
  @include font-barlow;
  color: #555;
}

:global {
  #single-spa-main {
    max-width: 1920px;
    margin: 0 auto !important;
  }
}