@use '../../../../lib/styles/typography';
@import '../../../../lib/styles/includes';

.work-table-title-container {
    display: flex;
    min-width: 250px;

    svg {
        min-width: 32px;
        margin-right: $pad-lg;
    }

    .work-table-title {
        flex: 1 1 auto;
        overflow: hidden;
    }
    
    .title {
        @extend .medium-subtitle;
        @include font-black-100;

        @include text-clamp;
    }
    
    .description {
        @extend .ultra-small;
        margin-top: 6px;
        @include text-clamp(3);
    }
}
