@import '../../../lib/styles';

.wrap {
    display: block;
    padding-bottom: $pad-xxxxl;
}

.header {
    @include font-black-100;
    @include font-roboto;
    margin-bottom: $pad-lg;

    p {
        margin-top: $pad-sm;
    }
}
