@import "styles/variables";
@import "styles/mixins";

.breadcrumb {
    padding: 12px 24px;
    background: $grey-bg;
    ol {
        display: flex;
        > li {
            display: inline-flex;
            align-items: center;
            padding: 0;
            a {
                display: block;
                padding: 12px;
                color: $gray-80;
                font-size: 12px;
                font-weight: 700;
                font-family: 'Roboto';
                line-height: 16px;
                text-transform: uppercase;
            }
            &:not(:last-child)::after {
                content: '';
                display:inline-block;
                width: 8px;
                height: 8px;
                border-style: solid;
                border-width: 1px 1px 0 0;
                border-color: $back-60;
                transform:rotate(45deg)
            }
            &:last-child,
            &:hover {
                a {
                    color: $grey-text;
                }
            }
        }
    }
}
