@import "styles/include";

.page-card {
  padding: 10px 30px;
  color: white;
  border-radius: 8px;
  overflow: hidden;
  height: 200px;
  @include mobile {
    height: auto;
    margin-bottom: 20px;
    padding-right: 20px;
  }

  p {
    color: white;
  }
  &.color-primary {
    background: linear-gradient(
      90deg,
      rgba(101, 35, 133, 1),
      rgba(140, 56, 76, 1)
    );
  }
  &.color-secondary {
    background: linear-gradient(
      90deg,
      rgba(5, 106, 135, 1),
      rgba(3, 131, 104, 1)
    );
  }
  &.has-image {
    display: flex;
    align-items: center;
    @include desktop {
      padding: 0;
      padding-right: 10px;
    }
    @include mobile {
      padding-top: 0;
      flex-direction: column;
      text-align: center;
    }
  }
  & img {
    height: 100%;
    object-fit: contain;
    @include desktop {
      margin-right: 31px;
    }
  }
}
