@import '../../../../lib/styles/includes';

.checkmark {
    border-radius: 50%;
    border: 2px solid $black-20;

    width: 26px;
    height: 26px;
    flex: 0 0 auto;

    margin-top: $border;

    &:global(.partial) {
        background: $turq-75;
    }

    &:global(.completed) {
        position: relative;
        border-width: 3px;
        svg {
            position: absolute;
            top: -4px;
            left: -4px;
            bottom: -4px;
            right: -4px;
            path {
                fill: $turq-75;
            }
        }
    }
}