@import "styles/include";

.page-foot {
  margin: 30px 0 0 0;
  display: flex;
  justify-content: flex-start;

  &.page-foot.align-right {
    justify-content: flex-end;
  }

  &.page-foot.align-between {
    justify-content: space-between;
  }
  @include mobile {
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
    & > * {
      margin-bottom: 20px;
    }
  }
  a {
    text-decoration: none;
  }
}
