@import '../../../lib/styles/includes';

.courses {
    &-section {
        padding: $pad-xxxxl 0;
        position: relative;
    }


    &-list {
        margin-top: $pad-lg;

        display: flex;
        flex-wrap: wrap;
        gap: $pad-lg;
    }
}
