@import '../../../lib/styles';

.badge {
    @extend .medium-subtitle;
    display: inline-block;
    padding: 0 $pad-sm;
    border-radius: $pad-sm;
    color: $tc-white;

    &.unread-messages{
        background-color: $red-100;
    }

    &.no-unread-messages{
        background-color: $black-80;
    }

    &.items {
        background-color: $blue-100;
    }
}
