@import "styles/include";

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0 24px;
  margin: 0 32px 16px;
  border-bottom: 1px solid $gray-70;
}

.heading {
  margin-right: 32px;
  padding: 0;
  color: $grey-text;
}
