@import "styles/include";

.form-input-checkbox {
  display: flex;
  align-items: center;

  .label {
    @include font-roboto;
    font-size: 14px;
    line-height: 18px;
    margin-left: 8px;
    font-weight: normal;

    span {
      text-decoration: underline;
      color: $link-blue;
      cursor: pointer;
    }
  }
}

/* rc checkbox custom style */
:global {
  .rc-checkbox.form-input-rc-checkbox {
    display: flex;

    .rc-checkbox-inner {
      width: 20px !important;
      height: 20px !important;

      &:hover {
        border-color: $green1;
      }
    }

    .rc-checkbox-inner:after {
      left: 6px !important;
      top: 0 !important;
      width: 7px !important;
      height: 14px !important;
    }


  }

  .rc-checkbox.form-input-rc-checkbox.rc-checkbox-checked {
    .rc-checkbox-inner {
      background-color: $green1;
      border-color: $green1;
    }
  }
}

.inline {
  display: inline-block;
  .span {
    color: $link-blue;
    text-decoration: underline;
  }
}
