@import "styles/include";
.page-content {
  margin: 10px auto;
  padding: 40px;
  @include mobile {
    padding: 20px;
  }
  background: white;
  border-radius: 8px;
  position: relative;
  @include mobile {
    padding-top: 125px;
  }
}
