@import 'styles/include';

div {
    @include font-barlow;
}

.titleContainer {
    display: flex;
    justify-content: center;
    color: $blue1;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: bold;
}

.contentContainer {
    font-size: 14px;
    line-height: 1.3em;
}