@import "styles/include";

.header {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  margin-bottom: 0;

  .icon {
    svg {
      transform: scale(1.5);
      margin-top: 22px;
    }

    &.open {
      svg {
        margin-top: 0 !important;
      }
      transform: rotate(-180deg);
    }
  }

  .stepLabel {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-transform: uppercase;
    margin-top: 14px;

    .link {
      color: $link-blue;
      cursor: pointer;
      margin-left: 10px;
      margin-top: 4px;
      text-transform: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.projectTitle {
  font-weight: 600;
  margin-top: 18px;
  font-size: 16px;
  line-height: 20px;
}

.detail {
  margin-top: 16px;
  white-space: pre-wrap;

  .itemWrapper {
    display: flex;

    .item {
      text-transform: capitalize;
      @include font-roboto;
      font-weight: 700;
      font-size: 16px;
      line-height: 26px;
    }
  }

  .key {
    @include font-roboto;
    font-size: 16px;
    line-height: 26px;

    .detail {
      padding-left: 20px;
    }
  }
}
