@import "styles/include";

.progress-popup {
  position: absolute;
  right: 10px;
  top: 85px;
  min-height: 150px;
  background: #fff;
  padding: 20px 20px 10px 20px;
  box-shadow: 0 0 6px #aaa;
  border-radius: 4px;

  .level {
    margin: 20px 0;
    display: flex;
    align-items: center;
    &.done,
    &.current {
      cursor: pointer;
    }
  }

  .level-check-icon {
    width: 24px;
    height: 24px;
    background: #f4f4f4;
    border-radius: 50%;
    margin-right: 10px;
    &.done {
      background: #06d6a0;
      display: flex;
      align-items: center;
      justify-content: center;
      .icon-check {
        height: 14px;
        * {
          fill: #ffffff;
        }
      }
    }
    &.current {
      border: 2px solid #06d6a0;
      background: #ffffff;
    }
  }

  .close-btn {
    position: absolute;
    top: 21px;
    right: 18px;
    cursor: pointer;
    height: 15px;
    width: 15px;
    * {
      stroke-width: 1px !important;
    }
  }
}
