@use '../../../../lib/styles/typography';
@import '../../../../lib/styles/includes';

.hero {
    &-wrap {
        background: url('./learn-welcome-bg-curve.png') repeat-x center bottom , $tc-grad15;
        background-size: 1440px 40px, auto;
        overflow: hidden;
        padding-bottom: 40px;
        &:global(.light) {
            background: url('./learn-welcome-bg-curve-white.png') repeat-x center bottom , $tc-grad15;
            background-size: 1440px 40px, auto;
        }
    }
    
    &-inner {
        padding: calc($pad-xxxxl + $pad-sm) 0 $pad-lg;
        @include contentWidth;
    }

    &-content {
        display: flex;
        gap: 80px;

        color: $tc-white;
    }
    
    &-col {
        flex: 1 1 auto;
    }
    
    &-text {
        @extend .body-medium-normal;
        margin-top: $pad-xxl;
    }
}
