@import "styles/include";

.solution-list-item {
  counter-increment: solutionListItem;

  @include font-roboto;
  font-size: 16px;
  color: $black;

  position: relative;
  padding: 15px 16px 15px 56px;
  border-top: 1px solid $gray-10;
  border-bottom: 1px solid $gray-10;

  &::before {
    content: counter(solutionListItem, decimal-leading-zero);
    position: absolute;
    top: 16px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-weight: 700;
    background-color: $gold-1;
    border-radius: 50%;
  }

  + .solution-list-item {
    margin-top: -1px;
  }
}

.name {
  font-weight: 400;
  line-height: 26px;
}
