@import "styles/include";

.solution-list-item {
  counter-increment: solutionListItem;

  @include font-roboto;
  font-size: 16px;
  line-height: 24px;
  color: $black-100;

  position: relative;
  padding: 16px 0;
  border-top: 1px solid $divider-color;

  &:last-child {
    border-bottom: 1px solid $divider-color;
  }

  display: flex;
  align-items: center;
  gap: 16px;

  &::before {
    content: counter(solutionListItem);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-weight: 700;
    background-color: $gold-1;
    border-radius: 50%;
  }

  .name {
    margin-right: auto;
  }
}

.name {
  font-weight: 400;
  line-height: 26px;
}
