@import '../lib/styles/includes';

.header-wrap {
    display: block;
    background-color: $tc-black;
}

.header {
    display: grid;
    height: $header-height;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    max-width: $xxl-min;
    @include pagePaddings;
    grid-template-columns: 78px 1fr auto;

    @include ltemd {
        grid-template-columns: $header-height 1fr $header-height;
        align-items: center;
    }
}

.subheader {
    width: 100%;
    position: relative;
}
