@use '../../../../lib/styles/typography';
@import '../../../../lib/styles/includes';

.wrap {
    width: 306px;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: $pad-lg;

    position: relative;

    :global(.loading-spinner) {
        background: transparent;
    }
}

.title {
    @extend .body-main-bold;
    flex: 0 0 auto;
}

.content {
    flex: 1 1 auto;
    overflow: auto;

    display: flex;
    flex-direction: column;
    gap: $pad-lg;

    @include scrollbar;
    padding-right: 5px;
    margin-right: -5px;
}