@import "styles/include";


.banner {
  background-color: $orange-25;
  border-radius: 8px;
  width: 100%;
  margin-top: 32px;
  cursor: pointer;

  .title {
    display: flex;
    justify-content: space-between;
    padding: 16px;

    span {
      color: $black;
      font-size: 20px;
      line-height: 20px;
      text-transform: uppercase;
      font-weight: 600;
    }

    .arrowIcon {

      &.up {
        transform: rotate(180deg);
      }
    }
  }

  .description {
    @include font-roboto;
    font-size: 16px;
    line-height: 26px;
    color: $black;
    margin-top: 4px;
    padding: 16px;
  }

  .supportButton {
    padding: 16px;
  }
}