@import "styles/include";

.footerContent {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;

  .footer-right {
    display: flex;
    gap: 16px;
  }
}

.backButtonWrapper {
  min-width: 40px;
  margin-top: 3px;
}

.header {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  margin-bottom: 0;

  .icon {
    svg {
      transform: scale(1.5);
      margin-top: 22px;
    }

    &.open {
      svg {
        margin-top: 0 !important;
      }
      transform: rotate(-180deg);
    }
  }


  .stepLabel {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-transform: uppercase;
    margin-top: 14px;
  }
}

.projectTitle {
  font-weight: 600;
  margin-top: 18px;
  font-size: 16px;
  line-height: 20px;
}

.detail {
  margin-top: 16px;


  .itemWrapper {
    display: flex;

    .item {
      @include font-roboto;
      font-weight: 700;
      font-size: 16px;
      line-height: 26px;
    }

    .link {
      color: $link-blue;
      cursor: pointer;
      margin-left: 5px;
      margin-top: 4px;

      &:hover {
        text-decoration: underline;
      }
    }
  }


  .key {
    @include font-roboto;
    font-size: 16px;
    line-height: 26px;
  }
}

.confirmationBox {
  margin-top: 32px;
}