@import "styles/include";

.footerContent {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;

  .footer-right {
    display: flex;
    gap: 16px;
  }
}

.backButtonWrapper {
  min-width: 40px;
  margin-top: 3px;
}

.confirmationBox {
  margin-top: 32px;
  background: #FFF0CE;
  border-radius: 8px;
  margin: 16px 0;
  margin-top: 32px;
  line-height: 26px;
  padding: 16px;
  font-size: 16px

}

.infoAlert {
  @include font-barlow;
  display: flex;
  padding: 16px;
  background: #E0FAF3;
  border-radius: 8px;
  margin: 16px 0;
  font-size: 16px;
  line-height: 26px;
}
