@import "styles/include";

.container {
  line-height: 20px;

  ul.a {
    list-style-type: disc;
    list-style: disc;

    li {
      padding-left: 0;
      margin-left: 20px;
    }
  }

  ul.b {
    list-style-type: disc;
    list-style: disc;

    li {
      padding-left: 0;
      margin-left: 20px;
    }
  }

  ul.c{
    list-style-type: disc;
    list-style: disc;

    li {
      padding-left: 0;
      margin-left: 20px;
    }
  }

  ul.d{
    list-style-type: disc;
    list-style: disc;

    li {
      padding-left: 0;
      margin-left: 20px;
    }
  }

  ul.e{
    list-style-type: disc;
    list-style: disc;

    li {
      padding-left: 0;
      margin-left: 20px;
    }
  }

  a {
    text-decoration: underline;
    color: $link-blue;
  }
}