@import "styles/include";

.tab {
  font: inherit;
  position: relative;
  padding: 8px 12px;
  text-align: center;
  cursor: pointer;

  &:first-child { margin-left: -4px; }
  &:last-child { margin-right: -4px; }

  &.active {
    &::before {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      width: 24px;
      height: 2px;
      border-radius: 2px;
      background-color: $green2;
    }
  }
}
