@import "styles/include";

.point {
  position: relative;
  width: 30px;
  height: 30px;
  padding: 7px;

  &::before,
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
  }

  &::before {
    background-color: $black-40;
    border: 1.5px solid $tc-white;
    border-radius: 50%;
  }

  &::after {
    position: absolute;
    top: calc(50% - 4.25px);
    left: calc(50% - 2.5px);
    display: none;
    width: 5px;
    height: 8.5px;
    border-bottom: 1.5px solid $tc-white;
    border-right: 1.5px solid $tc-white;
    transform: rotate(45deg) translate(-1.5px, -1.5px);
  }

  &.completed {
    &::before { background-color: $purple-100; }
    &::after { display: block; }
  }

  &.active {
    padding: 3px;

    &::before {
      background-color: $purple-100;
      border-width: 2px;
    }
  }

  &.send-to-solutions-expert {
    padding: 5px;

    &::before {
      background-color: $pastel-purple;
    }

    &::after {
      display: none;
    }

    .icon-warning {
      position: absolute;
      top: 6px;
      left: 7px;
    }
  }

  &.downloads-ready {}
}
