@import "styles/include";

.page-h2 {
  margin: 20px 0;
  @include font-barlow;
  font-weight: normal;
  font-size: 34px;
  font-weight: 420;
  line-height: 40px;
  text-transform: uppercase;

  @media screen and (max-width: 1325px) and (min-width: 1199px) {
    margin-top: 20px;
    font-size: 24px;
    line-height: 30px;
  }
}
