@use '../../../../lib/styles/typography';
@import '../../../../lib/styles/includes';

.wrap {
    background: $black-5;
    border-radius: $pad-sm;
    padding: $pad-xxl;
    color: $black-100;

    display: flex;
    flex-direction: column;
    gap: $pad-sm;
    width: 475px;
}

.line {
    display: flex;
    align-items: center;
    gap: $pad-sm;
    justify-content: flex-end;
}