@import '../../../lib/styles/includes';

.wrap {
    padding: $pad-mx 0 $pad-xxxxl;
    position: relative;
    flex: 1;
    max-width: 1000px;
    margin: 0 auto;
    
    p {
        margin-top: $pad-xxl;
    }

    :global(.body-large) {
        margin-bottom: $pad-xxl;
    }
}

.btns-wrap {
    display: flex;
    align-items: center;
    gap: $pad-sm;
    margin-top: $pad-xxl;
}