@import "styles/include";

.form-field-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 18px;
  @include mobile {
    margin-bottom: 0px;
  }

  &.helper {
    margin-bottom: 35px !important;
  }

  .form-field {
    border: 1px solid #b7b7b7;
    border-radius: 4px;
    background: white;
    padding-top: 24px;
    margin-bottom: 10px;

    &.disabled {
      background-color: $grey-bg !important;
    }

    .label {
      position: absolute;
      top: 5px;
      left: 15px;
      color: $green1;
      font-size: 13px;
    }

    > div {
      border-radius: 4px;
    }
  }
  .error {
    color: $red;
  }

  .helperText {
    @include font-roboto;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #555;
    margin-top: -6px;
  }
}

.labelStyle {
  font-size: 11px !important;
  margin-top: 10px;
  left: 10px !important;
  top: 8px !important;
}

.formTitleStyle {
  margin-top: 12px !important;
  padding-top: 0 !important;
}
