@import '../../../lib/styles/includes';

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $pad-xxxxl 0 $pad-xxl;
    margin: 0 0 $pad-xxl;
    border-bottom: $border solid $black-10;

    .heading {
        margin-right: $pad-xxxxl;
        color: $black-100;
    }
}
