
@import "styles/include";

.footerContent {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;

  .footer-right {
    display: flex;
    gap: 16px;
  }
}

.backButtonWrapper {
  min-width: 40px;
  margin-top: 3px;
}


.container {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 26px;
  width: 100%;

  .paymentWrapper {
    width: 412px;
    display: flex;
    flex-direction: column;

    .title {
      @include font-roboto;
      font-size: 16px;
      line-height: 26px;
      align-self: center;
    }

    .paymentBox {
      background-color: $gray-10;
      border-radius: 8px;
      height: 388px;
      margin-top: 18px;
      cursor: pointer;

      p {
        @include font-roboto;
        font-size: 14px;
        text-align: center;
        align-self: center;
        display: flex;
        flex-direction: column;
        align-self: center;
        height: 100%;
        justify-content: center;
      }
    }

    .confirmationBox {
      margin-top: 18px;
    }
  }

}