@import "styles/include";

.footerContent {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;

  .footer-right {
    display: flex;
    gap: 16px;
  }
}

.backButtonWrapper {
  min-width: 40px;
  margin-top: 3px;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 26px;
  width: 100%;

  .paymentWrapper {
    width: 412px;
    display: flex;
    flex-direction: column;

    .title {
      @include font-roboto;
      font-size: 16px;
      line-height: 26px;
      align-self: center;
    }

    .paymentBox {
      border: 1px solid $gray-10;
      border-radius: 8px;
      height: 450px;
      margin-top: 18px;
    }

    .confirmationBox {
      margin-top: 18px;
    }
  }
}
