@import "styles/include";

.container {
  position: relative;
  display: grid;
  margin-top: 26px;
  width: 100%;
  @include font-roboto;

  .paymentWrapper {
    display: grid;
    grid-template-columns: 1fr 462px;
    column-gap: 24px;

    @include mobile {
      grid-template-columns: 1fr;
    }

    .infoBox {
      display: flex;
      flex-direction: column;
      row-gap: 24px;
      font-size: 16px;
      line-height: 26px;

      .confirmationBox {
        @include confirmationBox;
      }

      .title {
        text-transform: uppercase;
        font-size: 20px;
      }

      .importantInfo {
        font-size: 16px;
      }
    }

    .paymentBox {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid $gray-10;
      border-radius: 8px;
      margin-top: 18px;
      padding: 24px;
      row-gap: 8px;

      .total {
        @include font-barlow-condensed;
        color: $aqua;
        font-size: 48px;
      }

      .totalInfo {
        text-transform: uppercase;
        font-size: 12px;
      }

      .paymentButtonContainer,
      .wideButton {
        width: 100%;
      }
    }
  }
}

.backButtonContainer {
  display: flex;
  flex: 1;

  .backButtonWrapper {
    min-width: 40px;
    margin-top: 3px;
  }
}
