@import "styles/include";

.paymentForm {
  width: 100%;

  .formHeader {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 4px;
  }

  .cardElement {
    @include formInputText;
  }
  
  .halfWidth {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 8px;
    width: 100%;
  }

  .error {
    display: flex;
    color: $red;
    margin-left: 14px;
    font-size: 11px;
    margin-top: -15px;
    padding-bottom: 5px;
  }
}
