@import "styles/include";

.paymentForm {
  width: 100%;
}

.cardElement {
  @include formInputText;
}

.error {
  display: flex;
  color: #ec2710;
  margin-left: 14px;
  font-size: 11px;
  margin-top: -15px;
  padding-bottom: 5px;
}
