@import "styles/variables";
@import "styles/mixins";

.container {
  display: flex;
  flex-direction: column;
  margin: 16px 0 0;
  border-radius: 8px;
  padding: 16px;
  background-color: #f4f4f4;
  cursor: pointer;

  &:first-child {
    margin-top: 0;
  }

  &:hover {
    border: 2px solid #137d60;
    padding: 14px;
  }
}

.header {
  display: flex;
  align-items: center;
  margin: 0 0 8px;
}

.title {
  @include font-barlow;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  color: #2a2a2a;
}

.status {
  flex: 0 0 auto;
  margin-right: 8px;
  border-radius: 999px;
  padding: 4px 8px;
  @include font-barlow;
  font-weight: 700;
  font-size: 10px;
  line-height: 8px;
  text-transform: uppercase;
  background-color: #555555;
  color: #fff;
}

.next-action {
  flex: 0 0 auto;
  margin-right: 8px;
  @include font-barlow;
  font-weight: 600;
  font-size: 10px;
  line-height: 8px;
  text-transform: uppercase;
  color: #2a2a2a;

  .days {
    font-weight: 700;
  }
}

// In-progress
.active {
  background-color: #12c188;
}

// Directed to sales
.cancelled {
  background-color: #F46500;
}

.completed {
  background-color: #2c95d7;
}

// submitted
.draft {
  background-color: #12c188;
}

// draft
.new {
  background-color: #555555;
}

.approaching {
  background-color: #F46500;
}

.overdue, .deleted {
  background-color: #e90c5a;
}

.redirected {
  background-color: #F46500;
}

.type {
  align-self: flex-start;
  border: 1px solid #7f7f7f;
  border-radius: 4px;
  padding: 2px 8px;
  margin: 4px 0 0;
  @include font-roboto;
  font-weight: 700;
  font-size: 10px;
  line-height: 14px;
  text-transform: capitalize;
  color: #7f7f7f;
}

.info {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  margin: 6px 0 0;
}

.date-created,
.id,
.messages,
.participants,
.rating {
  flex: 0 0 auto;
  margin-top: 10px;
  margin-right: 24px;
  @include font-barlow;
  font-weight: 600;
  font-size: 12px;
  line-height: 8px;
  text-transform: uppercase;
  color: #2a2a2a;
}

.id {
  span {
    text-transform: none;
  }
}

.date-created {
  margin: 0 0 0 auto;
}

.messages {
  display: flex;
  align-items: center;

  .count {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4px;
    border-radius: 999px;
    width: 22px;
    height: 22px;
    @include font-roboto;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    background-color: #888894;
    color: #fff;
  }

  &.hasNew {
    .count {
      background-color: #e90c5a;
    }
  }
}

.rating {
  display: flex;
  align-items: center;
}

.stars {
  margin-left: 4px;
}

.btnSummary {
  margin-left: auto;
}

.forumLoader {
  margin-left: 4px;
}
