@import "styles/include";

.label {
  @include font-barlow;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: $gui-kit-gray-90;

  position: relative;
  width: 60px;
  text-align: center;

  strong {
    font-weight: 600;
    min-width: 8ch;
  }

  &.left {
    text-align: left;
    padding-left: 16px;
    width: 30px;
  }
  &.right {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    text-align: right;
    padding-right: 16px;
    width: 30px;

    br { display: none; }
  }

  &.highlight strong {
    color: $link-blue-dark;
  }
}
