@import '../../../lib/styles';

.status-container {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    white-space: nowrap;

    .active,
    .done,
    .draft,
    .ready,
    .transferred {
        &:before {
            content: '';
            position: relative;
            top: -1px;
            display: inline-block;
            width: 8px;
            height: 8px;
            margin-right: $pad-xs;
            border-radius: 50px;
            border: 2px solid transparent;

        }
    }

    .active:before {
        border-color: $turq-120;
    }

    .done:before {
        border-color: $black-80;
    }

    .draft:before {
        border-color: $black-80;
    }
    
    .ready:before {
        border-color: $black-80;
    }

    .transferred:before {
        border-color: $legacy-120;
    }
}
