@import '../../lib/styles';

.page-container {
    flex: 1;
    display: flex;
    flex-direction: column;

    .page-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: $pad-xxl;

        @include ltemd {
            display: flex;
            flex-direction: column;
            row-gap: $pad-xxl;
        }
    }
}
