@import '../../lib/styles';

.page-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 0 $pad-xxxxl;

    h1 {
        color: #2A2A2A;
        border-bottom: 1px solid $black-10;
    }

    .page-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: $pad-xxxxl -#{$pad-md} 0;

        @include ltemd {
            flex-direction: column;
        }

        .card {
            width: calc(33.3% - #{$pad-xxl});
            margin: 12px;

            @include ltemd {
                width: calc(100% - #{$pad-xxl});
            }

            p {
                word-break: break-all;
                &:last-of-type {
                    margin-bottom: $pad-xl;
                }
            }
        }
    }
}
