@import "styles/include";

.solutions-not-available {
  @include font-barlow;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: $black;

  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 507px;
  padding: 16px;
  text-align: center;
  background-color: $grey-bg;
  border-radius: 8px;
}
