@import "styles/include";

.container {
  display: flex;
  justify-content: center;
  text-align: center;

  .content {
    max-width: 439px;
    color: $black;
    font-size: 16px;
    line-height: 26px;
  }

  .btn {
    display: flex;
    justify-content: center;
    margin-top: 76px;
  }
}