@import '../../lib/styles';

.logo-no-link,
.logo-link {
    display: flex;
    flex-direction: column;
    align-items: center;

    svg {
        width: calc($pad-xxl + $pad-xxxxl);
        height: $pad-xl;
        @extend .pad-xxl;
        fill: none;

        path {
            fill: $tc-white;
        }

        @include ltemd {
            padding: 0;
        }
    }  
}

.logo-no-link {

    a {
        cursor: default;
    }
}
